@import '../../../../styles/forwards';

.Checkboxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  justify-self: center;
  align-self: center;
  padding: 15px;
  gap: 15px;
  width: 100%;
  height: 100%;

  @include typeColors();

  Legend {
    @include accentText();
    font-size: 0.7rem;
  }

  label {
    @include typeIcons();
    border: 2px solid var(--nearBlack);
    opacity: 60%;
    transition: ease-in-out 0.1s;

    &:hover {
      opacity: 100%;
    }

    input {
      display: none;
    }
  }
}


label:has(input:checked) {
  transform: translate(-3px, -4px);
  box-shadow: var(--nearBlack) 3px 4px 0 0;
  color: var(--nearBlack);
  opacity: 100%;
}