@import '../../../../styles/forwards';

.ResetButton {
  @include button();
  @include accentText();
  letter-spacing: 0.001rem;
  font-size: 0.7rem;
  background: var(--blue);
  border: 3px solid var(--nearBlack);
  box-shadow: var(--nearBlack) 4px 6px 0 0;
  transform-origin: top left;

  &:hover {
    text-transform: full-width;
    font-size: 0.65rem;
    animation-duration: 5s;
  }

  &:active {
    transform: translate(4px, 6px);
    box-shadow: none;
  }
}