@mixin button() {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  max-width: 200px;
  padding: 0;
  font-size: 1rem;
  border-radius: 30px;
}

@mixin mainText() {
  font-family: 'Fira Sans', system-ui;
}

@mixin accentText() {
  font-family: 'Press Start 2P', system-ui;
}

@mixin typeIcons() {
  width: 50px;
  color: var(--nearBlack);
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: bold;
  border: 2px solid var(--offWhite);
}

@mixin typeColors() {
  .bug {
    background: var(--bug);
  }

  .dark {
    background: var(--dark);
  }

  .dragon {
    background: var(--dragon);
  }

  .electric {
    background: var(--electric);
  }

  .fairy {
    background: var(--fairy);
  }

  .fighting {
    background: var(--fighting);
  }

  .fire {
    background: var(--fire);
  }

  .flying {
    background: var(--flying);
  }

  .ghost {
    background: var(--ghost);
  }

  .grass {
    background: var(--grass);
  }

  .ground {
    background: var(--ground);
  }

  .ice {
    background: var(--ice);
  }

  .normal {
    background: var(--normal);
  }

  .poison {
    background: var(--poison);
  }

  .psychic {
    background: var(--psychic);
  }

  .rock {
    background: var(--rock);
  }

  .steel {
    background: var(--steel);
  }

  .water {
    background: var(--water);
  }
}